{% block head %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}"> 
    </head>
    <body>
        <div>
            <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/login/">LOGIN</a></li>
            <li><a href="/register/">REGISTER</a></li>
            <li><a href="#">SERVICES</a></li>
            <li><a href="#">CONTACT US</a></li>
            </ul>
        </div>
    </body>
</html>
{% endblock %}
<!--background-repeat : no-repeat;
background-size: cover;-->