{% block head %}
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}"> 
    </head>
    <body>
        <center><h1 id="one">BLOG WEBAPP</h1></center>
        <div>
            <ul>
            <li><a href="#">BLOGS</a></li>
            <li><a href="/logout/">LOGOUT</a></li>
            <li><a href="/user/profile/">PROFILE</a></li>
            <li><a href="/blog/addblog/">ADDBLOGS</a></li>
            <li><a href="#">CONTACT US</a></li>
            </ul>
        </div>
        
    </body>
</html>
{% endblock %}
<!--background-repeat : no-repeat;
background-size: cover;-->